.langBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: transparent;
  outline: 0;
  border: 0;
  border-radius: 50%;
  user-select: none;
  cursor: pointer;
  width: 3.8rem;
  height: 2.4rem;
}

.langPopover {
  position: absolute;
  top: 2rem;
  right: 3.2rem;
  width: 16rem;
  margin-top: 1rem;
  border-radius: 0.8rem;
  background-color: var(--bg-modal);
  border: 1px solid var(--border-color);
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s linear, visibility 0.2s linear;
  z-index: 5;

  @media (max-width: $mobile-screen) {
    top: 2rem;
    right: 0;
    left: -7rem;
  }

  &_item {
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    border-radius: 0;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    color: inherit;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    min-height: 4.8rem;
    box-sizing: border-box;
    white-space: nowrap;
    padding: 0.8rem 1.6rem;
    font-weight: 400;
    transition: background-color 0.2s linear;

    .flagIcon {
      display: inline-block;
      margin-right: 16px;
    }

    .flagIcon,
    .languageText {
      color: var(--font-main-color);
    }

    &:hover {
      background-color: var(--bg-hover);
    }

    &:active {
      background-color: var(--bg-activated-link);
    }
  }
}

.openPopover {
  opacity: 1;
  visibility: visible;
}