.btn {
  width: 50%;
  height: 4rem;
  padding: 0.5rem;
  align-self: center;
  font-size: 1.8rem;
  background-color: var(--bg-button);
  border-radius: 0.5rem;

  &:hover {
    background-color: var(--bg-button-hover);
  }

  &:disabled {
    cursor: initial;
    background-color: var(--bg-button-disable);
  }
}

.btn_text {
  color: var(--font-accent-color);
}