.container {
  width: 30rem;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: 1px solid var(--border-color);
  background-color: var(--bg-page);
  overflow: hidden;
  position: absolute;
  right: 0px;
  overflow-y: auto;
  overflow-x: auto;
  top: 0px;
  z-index: 1;
}

/* Firefox */
.container {
  scrollbar-width: auto;
  scrollbar-color: var(--font-main-color);
}

/* Chrome, Edge, and Safari */
.container::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
}

.container::-webkit-scrollbar-track {
  background: transparent;
}

.container::-webkit-scrollbar-thumb {
  background-color: var(--font-main-color);
  border-radius: 1rem;
}
