.title,
.subtitle {
  color: var(--font-main-color);
}

.title {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.25;
}

.section {
  text-align: center;
  margin: 0 auto;
}

.welcome {
  max-width: 80rem;
  padding-top: 18rem;
  padding-bottom: 18rem;

  &_title {
    margin: 2rem 0;
  }

  &_subtitle {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 4.8rem;
  }

  &_link {
    color: var(--font-accent-color);
  }
}