.dark {
  --bg-page: #272c35; //основной цвет бэграунда, заднего фона
  --bg-secondary-page: #20252c; //цвет фона второстепенный, используется с bg-page
  --bg-modal: #303640; //бэграунд модальных окон;
  --font-modal: #4b505b; //цвет шрифта модальных окон, цвет бордера модальных окон
  --border-color: #454a55; //цвет бордера между --bg-page и --bg-secondary-page
  --border-input: #4d535d; //цвет бордера поля input
  --border-input-focus: #41464f; //цвет бордера инпута при фокусе
  --bg-overlay: #20232b; //цвет затеменения фона при открытой модалке
  --bg-activated-link: #31363e; //цвет активированной ссылки.кнопки (кроме bg-button)
  --bg-hover: #292d36; //цвет фона при наведении на ссылки.кнопки (кроме bg-button)
  --bg-input: #343944; //цвет фона инпута
  --bg-input-count: #30343c; //цвет фона инпута
  --bg-button: #a626a4; //используется для бэграунда кнопок
  --bg-button-hover: #b650b5; //используется для бэграунда кнопок при наведении
  --bg-button-disable: #4f4f4f; //используется для бэграунда неактивныхкнопок
  --bg-svg-elements: #a626a4; //используется для бэграунда svg элементов фона
  --font-main-color: #bbbbbb; //цвет основного шрифта
  --font-main-color-hover: #d5d5d5; //цвет основного шрифта при наведении
  --font-accent-color: #ffffff; //цвет для текста кнопок c bg-color
  --font-key-link-color: #734e85; //цвет для текста свойства в разделе Docs
  --font-property-link-color: #d4a540; //цвет для текста c ссылкой в разделе Docs
  --font-key-argument-color: #52A9B5; //цвет для текста ключа для args в разделе Docs
  --success-color: #0c5703; //цвет текста ошибки
  --error-color: #cb0000; //цвет текста ошибки
  --color-link: #04ff04; // цвет ссылок
}
