.light {
  --bg-page: #fafafa; //'основной цвет бэграунда, заднего фона
  --bg-secondary-page: #eaeaeb; //цвет фона второстепенный, используется с bg-page
  --bg-modal: #fafafa; //бэграунд модальных окон;
  --font-modal: #d1d4d7; //цвет шрифта модальных окон, цвет бордера модальных окон
  --border-color: #d1d4d7; //цвет бордера между --bg-page и --bg-secondary-page
  --border-input: #cccfd3; //цвет бордера поля input
  --border-input-focus: #c5c8cc; //цвет бордера инпута при фокусе
  --bg-overlay: #4a4c52; //цвет затеменения фона при открытой модалке
  --bg-activated-link: #d2d3d7; //цвет активированной ссылки.кнопки (кроме bg-button)
  --bg-hover: #dedee1; //цвет фона при наведении на ссылки.кнопки (кроме bg-button)
  --bg-input: #f3f3f4; //цвет фона инпута
  --bg-button: #a626a4; //используется для бэграунда кнопок
  --bg-button-hover: #b650b5; //используется для бэграунда кнопок при наведении
  --bg-button-disable: #4f4f4f; //используется для бэграунда неактивных кнопок
  --bg-svg-elements: #a626a4; //используется для бэграунда svg элементов фона
  --font-main-color: #444444; //цвет основного шрифта
  --font-main-color-hover: #2b2b2b; //цвет основного шрифта при наведении
  --font-accent-color: #ffffff; //цвет для текста кнопок c bg-color
  --font-key-link-color: #734e85; //цвет для текста свойства в разделе Docs
  --font-property-link-color: #d4a540; //цвет для текста c ссылкой в разделе Docs
  --font-key-argument-color: #8ec7df; //цвет для текста ключа для args в разделе Docs
  --success-color: #0c5703; //цвет текста при удачном выполнении
  --error-color: #cb0000; //цвет текста ошибки
  --color-link: #0449e0; // цвет ссылок
  --bg-toast-error: #ff4040; //цвет toast сообщения с ошибкой
}
