.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons_container {
  width: 100%;
  height: 4rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.back_btn_container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.back_btn {
  width: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}