@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,700&display=swap');

:root {
  font-size: 10px;
}

@mixin font-main($size: 1.6rem) {
  font-family: 'Roboto', sans-serif;
  font-size: $size;
  font-weight: 400;
  line-height: 140%;
}

@mixin font-title($size: 2.2rem) {
  font-family: 'Roboto', sans-serif;
  font-size: $size;
  font-weight: 600;
  line-height: 160%;
}

@mixin flex-row($gap: 1rem, $justify: flex-start, $align: center) {
  display: flex;
  flex-direction: row;
  gap: $gap;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-column($gap: 1rem, $justify: center, $align: flex-start) {
  display: flex;
  flex-direction: column;
  gap: $gap;
  justify-content: $justify;
  align-items: $align;
}

* {
  box-sizing: border-box;
}

html,
body,
div,
p,
ul,
ol,
li,
a,
form,
button,
input {
  @include font-main();
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-title();
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color-link);

  &:hover {
    cursor: pointer;
  }
}

button,
input,
label {
  border: none;
  outline: none;

  &:hover {
    cursor: pointer;
  }
}

body {
  @include font-main();
  overflow-y: scroll;
}

.app {
  color: var(--font-main-color);
  scroll-behavior: smooth;
  min-height: 100vh;
  @include flex-column($gap: 2rem);
  margin: 0 auto;
  background: var(--bg-page);
}

header,
footer {
  width: 100%;
  flex: 0 0 auto;
}

main {
  flex: 1 0 auto;
  width: 100%;
  position: relative;
}

.form_container {
  width: 100%;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 1rem;
}

.wrapper {
  max-width: 110rem;
  padding: 0 2rem;
  margin: 0 auto;
}

@mixin docs_link($color) {
  width: max-content;
  display: inline-block;
  position: relative;
  color: $color;
  cursor: pointer;

  &::after {
    width: max-content;
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $color;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  &:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

.key_name {
  @include docs_link(var(--font-key-link-color));

  &_title {
    color: var(--font-key-link-color);
  }
}

.property_name {
  @include docs_link(var(--font-property-link-color));
}

.section_underline {
  padding-bottom: 1rem;
  border-bottom: 2px solid var(--border-color);
}


