@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,700&display=swap');

:root {
  font-size: 10px;
}

@mixin font-main($size: 1.6rem) {
  font-family: 'Roboto', sans-serif;
  font-size: $size;
  font-weight: 400;
  line-height: 140%;
}

@mixin font-title($size: 2.2rem) {
  font-family: 'Roboto', sans-serif;
  font-size: $size;
  font-weight: 600;
  line-height: 160%;
}

@mixin flex-row($gap: 1rem, $justify: flex-start, $align: center) {
  display: flex;
  flex-direction: row;
  gap: $gap;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-column($gap: 1rem, $justify: center, $align: flex-start) {
  display: flex;
  flex-direction: column;
  gap: $gap;
  justify-content: $justify;
  align-items: $align;
}

* {
  box-sizing: border-box;
}

html,
body,
div,
p,
ul,
ol,
li,
a,
form,
button,
input {
  @include font-main();
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-title();
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}

button,
input,
label {
  border: none;
  outline: none;
  &:hover {
    cursor: pointer;
  }
}

body {
  @include font-main();
  background: var(--bg-page);
  color: var(--font-main-color);
  overflow-y: scroll;
}

#__next {
  scroll-behavior: smooth;
  min-height: 100vh;
  @include flex-column($gap: 0rem);
  margin: 0 auto;
}

header,
footer {
  width: 100%;
  flex: 0 0 auto;
}

main {
  padding: 3rem 0;
  flex: 1 0 auto;
  width: 100%;
}

.wrapper {
  max-width: 110rem;
  padding: 0 2rem;
  margin: 0 auto;
}
