.back_button {
  display: flex;
  justify-content: center;
  align-items: center;
  stroke: var(--font-main-color);

  &:hover {
    width: 1.4rem;
    height: 2.7rem;
    cursor: pointer;
    stroke: var(--font-main-color-hover);
    transition: 0.3s width ease-in-out;
    animation: jerking 0.8s ease;
    animation-iteration-count: 1;
  }
}
