@keyframes jerking {
  15% {
    transform: translateX(8px);
  }

  30% {
    transform: translateX(-8px);
  }

  40% {
    transform: translateX(5px);
  }

  50% {
    transform: translateX(-5px);
  }

  65% {
    transform: translateX(2px);
  }

  100% {
    transform: translateX(0);
  }
}