@import '../../styles/breakpoints.scss';

.section {
  text-align: center;
  margin: -2rem auto 0;
  background-color: var(--bg-page);
  position: relative;
}

.home {
  max-width: 80rem;
  padding-top: 13rem;
  padding-bottom: 18rem;
  position: relative;
  z-index: 10;

  @media (max-width: $laptop-screen) {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  &_title,
  &_subtitle {
    color: var(--font-main-color);
  }

  &_title {
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: 2rem;
    width: 73rem;
    margin: 0 auto 2rem;

    @media (max-width: $laptop-screen) {
      font-size: 3.6rem;
      width: 50rem;
    }

    @media (max-width: $tablet-screen) {
      font-size: 3rem;
      margin-bottom: 1rem;
      width: 40rem;
    }

    @media (max-width: $mobile-screen) {
      font-size: 2.5rem;
      width: 25rem;
    }
  }

  &_subtitle {
    font-size: 2rem;
    margin-bottom: 4.8rem;

    @media (max-width: $laptop-screen) {
      font-size: 1.6rem;
    }

    @media (max-width: $tablet-screen) {
      font-size: 1.4rem;
    }

    @media (max-width: $mobile-screen) {
      font-size: 1.2rem;
    }
  }

  &_link {
    color: var(--font-accent-color);
  }
}

.svg {
  position: absolute;
  z-index: 0;
}

.svg_1 {
  top: 0;
  right: 0;
}

.svg_2 {
  bottom: 0;
  left: 0;

  @media (max-width: $laptop-screen) {
    display: none;
  }
}