.header {
  padding: 7px 0;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--bg-page);
  position: sticky;
  top: 0;

  z-index: 100;

  &.sticky {
    border-bottom: 0;
    box-shadow: 0px 0.1rem 1rem rgba(0, 0, 0, 0.4);
  }

  &_wrapper {
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;
    row-gap: 1rem;
  }
}

.logoLink {
  display: flex;
  align-items: center;

  &:hover {
    .appLogo,
    .appName {
      color: var(--font-main-color-hover);
      fill: var(--font-main-color-hover);
    }
  }

  .appLogo {
    width: 3.2rem;
    height: 3.2rem;
    margin-right: 5px;

    fill: var(--font-main-color);
    transition: fill 0.2s linear;
  }

  .appName {
    color: var(--font-main-color);
    transition: color 0.2s linear;
  }
}
