@import '../../styles/breakpoints.scss';

.nav {
  display: flex;
  align-items: center;
  gap: 1rem;

  @media (max-width: $tablet-screen) {
    display: none;
  }
}

.link {
  text-decoration: none;
}

.authenticate {
  width: 3.2rem;
  height: 3.2rem;
  padding: 0;
  margin: auto 0 auto;
  background: var(--bg-page);
  color: var(--font-main-color);

  @media (min-width: $tablet-screen) {
    display: none;
  }
}

.authenticateNav {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
}