@import '../../styles/breakpoints.scss';

.nav {
  display: flex;
  align-items: center;
  gap: 1rem;

  @media (max-width: $mobile-screen) {
    margin: 0 auto;
  }
}

.link {
  text-decoration: none;
}