.button {
  text-align: center;
  width: 10.8rem;
  height: 2.6rem;
  padding: 2px 5px;
  background-color: var(--bg-button);
  transition: background-color .2s linear;

  &:hover {
    background-color: var(--bg-button-hover);
  }

  &_label {
    font-size: 1.4rem;
    color: var(--font-accent-color);
  }
}